.forgot_password_container {
    padding: 3%;
    width: 100%;
}

.fgt-password-state {
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: center;
}

.back-button ion-icon {
    font-size: 2rem;
}

.fgt-password-state ion-icon {
    font-size: 4rem;
    color: rgba(241, 242, 248, 1);
}

.fgt-password-state ion-icon.active {
    color: black;
}

.message-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.message-container img {
    background: rgba(241, 242, 248, 1);
    border-radius: 20px;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-text-container {
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-text-container h1 {
    font-weight: 900;
}

.msg-text-container p {
    width: 90%;
}

.reset-form {
    display: flex;
    flex-direction: column;
}

.reset-form input {
    background-color: rgb(211, 211, 211);
    border: 0px solid;
    margin: 3%;
    padding: 5%;
    padding-bottom: 7%;
    padding-top: 7%;
    border-radius: 10px;
}

.reset-password-button {
    padding: 5%;
    margin: 3%;
    background-color: black;
    border-radius: 8px;
}