.home-container {
    padding: 5%;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .home-left {
    text-align: center;
} */

.home-left h3 {
    color: rgba(97, 103, 125, 1);
}

.home-left h1 {
    font-weight: 800;
    margin-top: -5%;
}

.lawyers-categories {
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3%;
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(241, 242, 248, 1);
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.top-lawyers-container {
    margin-top: 20%;
}

.top-lawyers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lawyers-containers {
    display: flex;
    gap: 4%;
    align-items: center;
    width: 47%;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 6px;
    padding: 2%;
}

.top-lawyers {
    display: flex;
    gap: 5%;
    margin-top: 4%;
    padding-bottom: 7%;
}

.lawyers-home-image {
    width: 100%;
}

.lawyers-details {
    width: 100%;
    margin-top: -6%;
}

.lawyers-details p {
    font-size: 0.6rem;
    margin-top: -7%;
}

.services-offered {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
}

.service-offered {
    background: rgba(241, 242, 248, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.service-offered h2 {
    color: rgba(59, 64, 84, 1);
    width: 100%;
    text-align: center;
    padding: 10%;
    font-weight: 900;
}