.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    padding-top: 8%;
}

.signup-image {
    background: rgba(241, 242, 248, 1);
    border-radius: 25px;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-writeup h1{
    font-weight: 900;
    font-size: 2rem;
}

.signup-writeup p {
    text-align: center;
    width: 90%;
    margin-top: -1%;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
}

.signup-form input {
    background-color: rgb(238, 237, 237);
    border: 0px solid;
    padding: 5%;
    margin-top: 4%;
    border-radius: 9px;
    color: black;
}

.signup-form select {
    background-color: rgb(238, 237, 237);
    border: 0px solid;
    padding: 5%;
    margin-top: 4%;
    border-radius: 9px;
}

.signup-form option {
    background-color: rgb(238, 237, 237);
    border: 0px solid;
    padding: 5%;
    margin-top: 4%;
    border-radius: 9px;
    /* width: 70%; */
}

.forgot-password {
    text-align: end;
    margin-top: 1.5%;
}

.forgot-password a {
    color: rgb(71, 71, 71);
}

.signup-button {
    margin-top: 4%;
    border-radius: 10px;
    padding: 6%;
    background-color: black !important;
}

.account-signup {
    width: 80%;
}

.account-signup h4{
    display: flex;
    font-size: 1.2rem;
    gap: 4%;
}

.account-signup a {
    color: rgb(71, 71, 71);
}

.checkbox-container {
    display: flex;
    gap: 2%;
    align-items: baseline;
}

.checkbox-container p {
    font-size: 0.8rem;
}

.signup-container select {
    display: none;
}

.hide-input {
    display: none;
}