.welcome-container {
    /* height: 100vh; */
    padding-top: 80%;
}

.state-container {
    padding-top: 90%;
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center !important;
    z-index: 104;
    position: relative;
    /* color: black; */
}

.state-container ion-icon {
    font-size: 4rem;
    z-index: 2;
    color: rgb(68, 68, 68);
}

.state-container ion-icon.active  {
    color: black;
}

.next-container {
    margin-top: -5%;
    margin-left: 9%;
    display: flex;
    position: relative;
}

.state-container span {
    font-size: 1.3rem;
    color: rgb(34, 33, 33) !important;
}